<h1><%= @type.pluralize.titlecase %></h1>

<%= link_to new_actor_path do %>
	<p>
		<button class="btn btn-info">Add a <%= @type %></button>
	</p>
<% end %>
<div>
	<ul>
		<% @people.each do |person| %>
			<li>
				<p>
					<%= link_to person.full_name, :controller => "#{@type.pluralize}", 
																				:action => 'show', 
																				:id => person.id %>
				</p>
			</li>
		<% end %>
	</ul>
</div>
 