<h1>Actors</h1>

<%= link_to new_person_path do %>
	<p>
		<button class="btn btn-info">Add a person</button>
	</p>
<% end %>
<div>
	<ul>
		<% @people.each do |person| %>
			<li>
				<p>
					<%= link_to person.full_name, person %>
				</p>
			</li>
		<% end %>
	</ul>
</div>
