<div id="flash">
	<% flash.each do |key,array| %>
		<div class="alert alert-<%= key %>">
			<ul>
			<% array.each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
		</div>
	<% end %>
</div>